html,
body {
	margin: 0px;
	padding: 0px;
	min-width: 500px;
}

html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}

.main,
#main {
	transition: margin-left .4s;
}

.left {
	float: left !important;
}

.right {
	float: right !important;
}

.padding {
	padding: 8px 16px !important;
}

.margin-right {
	margin-right: 16px !important;
}

.content,
.auto {
	margin-left: auto;
	margin-right: auto;
}

/*text */
h2 {
    font-size: 30px;
	font-weight: 600;
    margin: 10px 0;
}

html,body {
	font-size: 15px;
}

/*color */
.light-grey,
.hover-light-grey:hover,
.light-gray,
.hover-light-gray:hover {
	color: #000 !important;
	background-color: #a3a3a3 !important;
}

.blue {
	color: #fff !important;
	background-color: #4980ff !important;
}

.hover-blue:hover {
	color: #fff !important;
	background-color: #1b44a3 !important;
}

.text-grey,
.hover-text-grey:hover,
.text-gray,
.hover-text-gray:hover {
	color: #757575 !important
}

.white,
.hover-white:hover {
	color: #000 !important;
	background-color: #fff !important;
}

/* Responsive layout*/
@media screen {

	/* Item1 will start on column-line 1, and end on column-line 5 */
	.item1 {
		grid-column: 1/20;
	}

	.item2 {
		grid-column: 20/21;
	}

	.item3 {
		grid-column: 1/3;
	}

	.item4 {
		grid-column: 3/6;
	}

	/* header */
	.searchbar {
		width: 90%;
		height: 100%;
	}

	.gobar {
		width: 10%;
		height: 100%;
	}

	.noticebar {
		grid-column: 1/2;
	}

	.doctorbar {
		grid-column: 2/6;
	}


}

@media (min-width:993px) {
	.modal-content {
		width: 900px;
	}

	.hide-large {
		display: none !important
	}

	.sidebar.collapse {
		display: block !important
	}
}

@media screen and (max-width:992px) {

	/* header */
	.searchbar {
		width: 80%;
		height: 100%;
	}

	.gobar {
		width: 10%;
		height: 100%;
	}

	/* sidebar */
	.sidebar.collapse {
		display: none;
	}

	.main {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}

}

@media (max-width: 992px) {
	.sidebar.collapse {
		display: none;
	}
}

@media screen and (max-width:600px) {

	.item3,
	.item4 {
		grid-column: 1/5;
	}

	/* header */
	.searchbar {
		width: 69%;
		height: 100%;
	}

	.gobar {
		width: 20%;
		height: 100%;
	}

	.noticebar {
		grid-column: 1/2;
	}

	.doctorbar {
		grid-column: 2/6;
	}
}

/* area */
.fakeimg {
	background-color: #aaa;
	width: 100%;
	padding: 20px;
}

.sidebar {
	height: 100%;
	width: 200px;
	background-color: #fff;
	position: fixed !important;
	z-index: 1;
	overflow: auto;
}

.overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}

.button {
	border: none;
	display: inline-block;
	padding: 8px 16px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	color: inherit;
	background-color: inherit;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
}

/* grid */
.grid-container {
	display: grid;
	grid-template-columns: auto auto auto auto;

}

.grid-container>div {
	background-color: rgb(255, 255, 255);
	border: 1px solid #ccc !important;
}

.border {
	border-right:1px solid #ccc !important;
}

.margin-bottom {
    margin-bottom: 16px!important;
}

.margin-top {
    margin-top: 16px!important;
}

.bar-block .bar-item {
	width: 100%;
	display: block;
	padding: 8px 16px;
	text-align: left;
	border: none;
	white-space: normal;
	float: none;
	outline: 0;
}

.input {
	padding: 8px;
	display: block;
	border: none;
	/* border-bottom: 1px solid #ccc; */

}

.container,
.panel {
	padding: 0.01em 16px;
}

/* animate */
.animate-left {
	position: relative;
	animation: animateleft 0.4s;
}

/* dropdown */
.dropbtn {
	background-color: #04AA6D;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
  }
  
  .dropdown {
	position: relative;
	display: inline-block;
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	right: 0;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  .dropdown:hover .dropdown-content {display: block;}
  .dropdown:hover .dropbtn {background-color: #3e8e41;}